body {
  margin: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --color-text-grey: #7a8387;
  --color-text-light: #ffffff;
  --color-darkBg: #232f34;
  --color-lightBg: rgba(242, 243, 248, 0.9);
  --color-lightBg2: #F7FAFF;
  --color-text: #232f34;
  --color-text-secondary: #50576A;
  --color-footerBg: #38ACED;
  --color-stylesBg: #F2F3F8;
  --font-body: "Noto Sans JP", sans-serif;
  --font-header: 'Merriweather', serif;
}

