body {
  margin: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --color-text-grey: #7a8387;
  --color-text-light: #ffffff;
  --color-text: #232f34;
  --color-text-secondary: #50576a;
  --color-darkBg: #232f34;
  --color-lightBg: rgba(242, 243, 248, 0.9);
  --color-lightBg2: #f7faff;
  --color-border: #eaedf5;
  --color-footerBg: #38aced;
  --color-stylesBg: #f2f3f8;
  --font-header: "Merriweather", serif;
  --font-body: "Karla", sans-serif;
}
